
.theos/_/DEBIAN/control
.theos/_/Library/MobileSubstrate/DynamicLibraries/goAwayBlurryCircles.dylib
.theos/_/Library/PreferenceBundles/GABCPrefs.bundle/GABCPrefs
.theos/last_package
.theos/obj/debug/arm64e/GABCPrefs.bundle/GABCPrefs
.theos/obj/debug/arm64e/GABCPrefs.bundle/GABCPrefs.dSYM/Contents/Info.plist
.theos/obj/debug/arm64e/GABCPrefs.bundle/GABCPrefs.dSYM/Contents/Resources/DWARF/GABCPrefs
.theos/obj/debug/arm64e/GABCRootListController.m.58104171.o
.theos/obj/debug/arm64e/GABCRootListController.m.58104171.Td
.theos/obj/debug/arm64e/goAwayBlurryCircles.dylib
.theos/obj/debug/arm64e/goAwayBlurryCircles.dylib.dSYM/Contents/Info.plist
.theos/obj/debug/arm64e/goAwayBlurryCircles.dylib.dSYM/Contents/Resources/DWARF/goAwayBlurryCircles.dylib
.theos/obj/debug/arm64e/Tweak.x.453e7781.o
.theos/obj/debug/arm64e/Tweak.x.453e7781.Td
.theos/obj/debug/GABCPrefs.bundle/GABCPrefs
.theos/obj/debug/goAwayBlurryCircles.dylib
Untitled.xcworkspace/xcuserdata/sawyerjester.xcuserdatad/WorkspaceSettings.xcsettings
Untitled.xcworkspace/xcuserdata/sawyerjester.xcuserdatad/UserInterfaceState.xcuserstate
Untitled.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
Untitled.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Untitled.xcworkspace/contents.xcworkspacedata
packages/com.bid3v.gabc_1.0.1_iphoneos-arm.deb
.theos/_/DEBIAN/control
.theos/_/Library/MobileSubstrate/DynamicLibraries/goAwayBlurryCircles.dylib
.theos/_/Library/PreferenceBundles/GABCPrefs.bundle/GABCPrefs
.theos/last_package
.theos/obj/debug/GABCPrefs.bundle/GABCPrefs
.theos/obj/debug/goAwayBlurryCircles.dylib
.DS_Store
gabc.xcworkspace/contents.xcworkspacedata
gabc.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
gabc.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
gabc.xcworkspace/xcuserdata/sawyerjester.xcuserdatad/UserInterfaceState.xcuserstate
gabc.xcworkspace/xcuserdata/sawyerjester.xcuserdatad/WorkspaceSettings.xcsettings
